@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model mvc_project.Models.RegisterViewModel;

<div class="col-md-5">

    <div class="card shadow">

        <div class="card-header text-center">
            <h3>Register</h3>
        </div>

        <div class="card-body">

            <form method="post">

                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label>Name</label>

                    <input asp-for="Name"
                           class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Email</label>

                    <input asp-for="Email"
                           class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Password</label>

                    <input asp-for="Password"
                           type="password"
                           class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Role</label>

                    <select asp-for="Role"
                            class="form-control">

                        <option value="Employee">
                            Employee
                        </option>

                        <option value="Admin">
                            Admin
                        </option>

                    </select>
                </div>

                <button type="submit"
                        class="btn btn-success w-100">
                    Register
                </button>

            </form>

        </div>

    </div>

</div>

</div>